.card{
  min-height: auto;
  border: solid black 1px;
  background-color: $primary-color;
  .card-header{
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
  }
  .card-body{
    min-height: 42px;
    align-items: center;
  }
  .card-footer{
    width: calc(100% - 2em);
    border-top: 1px solid #e1e1e1;
    padding: .5em 1em;
  }
  &.card-hover:hover{
    background-color: $primary-color;
    cursor: pointer;
    *{
      color: white;
    }
  }
}
