@media screen and (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    &.bg-primary,
    &.bg-secondary,
    &.bg-danger,
    &.bg-success {
      nav a {
        color: white;
      }
    }
    nav a {
      margin-right: 1em;
      padding: 1em;
      display: inline-block;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
        border-radius: 4px;
      }
    }
    button {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    nav a {
      margin-right: 1em;
      padding: 1em;
      display: inline-block;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
        border-radius: 4px;
      }
    }
    button {
      display: block;
      border: none;
      padding: 1.1em 1em 1em 1em;
      border-radius: 9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      color: white;
      box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.2);
      position: relative;
      z-index: 20;
      i {
        display: block;
        color: currentColor;
      }
    }
    .navbar-nav {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 70%;
      background-color: white;
      z-index: 19;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.4s ease;
      &.menu-active::before {
        content: "";
        height: 100vh;
        width: 30%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.24);
        top: 0;
        right: 0;
        z-index: 19;
        opacity: 0;
        animation: fadeIn 1s ease forwards;
      }
      &.menu-active {
        left: 0;
      }
    }
  }
}
