/*************************************
*   Hover states global
**************************************
*/
.transition{
  transition: all .4s ease;
}
.hover-up:hover{
  transform: translateY(-.4em);
}
.hover-opacity-full:hover{
  opacity: 1;
}
